body{
    background-color: yellow;

}
p{  
    color:blueviolet;
    text-align: center;
    font-size: 32px;
}
p span {
    color:black;
}
/* p:nth-child(even){
    background-color: blue;
}
p:nth-child(odd){
    background-color: green;
} */

/* p:nth-child(2)~ p{
    background-color: green;
} */

/* p:first-of-type{
    background-color: blue;
}
p:last-of-type{
    background-color: green;
} */
/*p 문단중에서*/

p:nth-last-of-type(2){
background-color: green;
}